/* Global */
* {
    box-sizing: border-box;
}

/* Game Container */
.game-container {
    position: relative;
    display: inline-block;
}

/* HUD / UI Bar */
.hud {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

/* Health Bars */
.health-bar-wrapper {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
}

.health-bar-background {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.health-bar-wrapper.player {
    justify-content: flex-end;
}

.health-bar {
    position: absolute;
    background: blue;
    top: 0;
    bottom: 0;
    width: 100%;
}

.health-bar.player {
    right: 0;
}

.health-bar.enemy {
    right: 0;
    left: 0;
}

/* Timer */
#timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Display Text (Winner / Tie) */
#displayText {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-size: 48px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

#displayText.show {
    display: flex;
}

/* Canvas */
canvas {
    display: block;
}
